.captura-video-2{
    position: relative;
    z-index: 200;
    height: 100%; 
    width: 100%;
}
.cover{
    position: absolute;
    top:0;
    left: 0;
    min-width: 100px;
    min-height: 100px;
    background: green;
    z-index: 1000;
}
.ace-thumbnails > li {
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 2px;
    border: none;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}